.App {
  text-align: center;
}

.image-selection-container {
  display: inline-block;
}

.images-select-wrapper {
  display: inline-block;
  padding: 1rem;
}

.image-main {
  display: inline-block;
}

.image-selection {
  max-height: 100px;
  cursor: pointer;
}

.sample-img {
  max-height: 340px;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.color-square {
  height: 6rem;
  width: 6rem;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
}

.color-wrapper {
  display: inline-block;
  word-wrap: break-word;
}

.search-button {
  cursor: pointer;
}
