.App {
  text-align: center;
}

.header {
  margin-top: 20px;
}

.image-selection, .search-button, .random-btn {
  cursor: pointer;
}

/* change dimensions at different break points */
.image-selection {
  max-height: 80px;
  width: 90%;
  opacity: 0.75;
}

.image-selection:hover {
  opacity: 1.0;
}

.regen-btn {
  height: 40px;
  width: 100%;
  margin: 0 !important;
}

.random-btn:hover {
  background-color: #cececb;
}

.images-container {
 overflow: auto;
 height: 325px;
}
/* render hex color squares */
.color-square {
  height: 11rem;
  width: 20%;
  display: inline-block;
  cursor: pointer;
}

.sample-img {
  max-height: 480px;
  max-width: 100%;
}

.image-container {
  margin-bottom: 2rem;
}

.info-text {
  display: inline-block;
  margin-left: 0.6rem;
}
/* React Popup */
.popup-content {
  width: 600px;
  height: 180px;
  text-align: center;
  padding: 32px !important;
}

.modal-btn:hover {
  background-color: #cececb;
}

.modal-btn {
  height: 60px;
  width: 100%;
  cursor: pointer;
}

.url-input {
 width: 250px;
}

.color-info {
  margin-top: 1rem;
  display: inline-block;
  height: 10rem;
  width: 90%;
  padding: 1rem;
  border: 1px solid lightgrey;
  margin: 0 auto;
}
.color-picker {
  display: inline-block;
}
.color-picker-grid {
  background-color: #F5F5F5;
}
