
.header {
  margin-top: 20px;
  text-align: center;
}

/* .header-menu {
  margin-bottom: 25px;
} */

.image-selection, .search-button, .random-btn {
  cursor: pointer;
}

/* change dimensions at different break points */
.image-selection {
  max-height: 100px;
  max-width: 100%;
  margin: 0 auto;
  opacity: 0.75;
}

.image-wrapper {
 position: relative;
}

.delete-img {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  cursor: pointer;
}
 /* show X when enters image div */
.image-wrapper:hover .delete-img {
  display: block;
}

.images-container {
 overflow: auto;
 max-height: 325px;
}

.image-selection:hover {
  opacity: 1.0;
}

.sample-img {
  max-height: 480px;
  margin: 0 auto;
}

.image-container {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 992px) {
  .image-selection{
    max-width: 120px;
  }
  .images-container {
    display: inline-flex;
    height: auto;
    width: 520px;
    overflow-x: scroll;
  }

  .image-modal-container {
    display: inline-flex;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .images-container {
    display: inline-flex;
    height: auto;
    width: 85%;
    overflow-x: scroll;
  }

  .modal-container {
    width: 80px;
    display: block;
  }
}
/* add image modal */
.add-image-modal {
  text-align: center;
  height: 150px;
}

.url-input {
 width: 75%;
}

/* render hex color squares */
.color-square-container {
 display: inline-block;
 width: 20%;
}

.color-loader {
 height: 120px;
}

.carot-container {
  text-align: center;
}

.color-square {
  width: 100%;
  padding-top: 75%;
  display: inline-block;
}

/* color info display */
.info-text {
  display: inline-block;
  margin: 5px 20px;
}

.hex-info-input {
  text-align: center !important;
  padding: 5px;
  max-width: 165px;
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
}

.info-input {
  width: 48px;
  padding: 4px;
  text-align: center;
}

.color-info {
  margin-top: 1rem;
  display: inline-block;
  height: 12rem;
  width: 90%;
  max-width: 240px;
  padding: 1rem;
  border: 1px solid lightgrey;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

.regen-btn, .save-pallette {
  height: 40px;
  width: 90%;
  max-width: 240px;
  margin: 0 !important;
  margin-bottom: 5px;
}

.regen-save-buttons {
  display: -webkit-inline-box;
}

/* color picker */
.color-picker {
  display: inline-block;
}

.color-picker-grid {
  background-color: #fff;
}
/* hide display of buttom default chrome picker info */
.overide-color {
  display: none !important;
}
/* different widths depending on display size */
.chrome-picker {
  width: 640px !important;
}

@media only screen and (max-width: 1199px) {
  .chrome-picker {
    width: 540px !important;
  }
}

@media only screen and (max-width: 992px) {
  .chrome-picker {
    width: 375px !important;
  }
}

@media only screen and (max-width: 576px) {
  .chrome-picker {
    max-width: 315px !important;
  }
}
/* save palette modal */
.savepalette-modal-input {
  width: 90%;
  max-width: 425px;
  padding-bottom: 10px;
}

.footer {
  height: 12rem;
  padding-top: 2rem;
  border-top: 1px solid lightgrey;
}

.footer-header {
  float: right;
  display: inline-block;
}

.icon-container {
  display: inline-block;
  cursor: pointer;
  float: left;
}

.icon-div {
  color: black;
  opacity: 0.8 ;
  margin: 0px 4px;
}

.icon-div:hover {
  opacity: 1.0 !important;
}
/* my Color palettes */
/* reused some css from colorslist */
.palette-container {
  padding-bottom: 15px;
}

.confirm-delete-modal {
  float: right;
  cursor: pointer;
  height: 100%;
  display: inline-block;
}

.edit-modal {
  float: right;
  cursor: pointer;
  height: 100%;
  display: inline-block;
}

.input-colors-container {
  display: inline-block;
}

.edit-sketchpicker {
  float: right;
  display: inline-block;
}

/* LandingPage */

/* LoginModal */
.login-header {
  text-align: center;
  padding: 16px;
}
.login-input{
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.login-label {
  margin: 14px 0px 10px 0px;
  display: block;
}

.login-btn {
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
  width: 100% !important;
}

.login-description {
  text-align: center;
}

.menu-overide {
  margin: 0px !important;
}
