.confirm-delete-modal {
  float: right;
  cursor: pointer;
  height: 100%;
  display: inline-block;
}

.icon-div {
  color: black;
  opacity: 0.8 ;
  margin: 0px 4px;
}

.icon-div:hover {
  opacity: 1.0 !important;
}
