/* render hex color squares */
.color-square-container {
  display: inline-block;
  width: 20%;
}

.color-square {
  width: 100%;
  padding-top: 75%;
  display: inline-block;
}

.palette-header,
.generate-header {
  margin-top: 1rem !important;
  margin-bottom: 4rem !important;
}

.palette-container {
  position: relative !important;
  max-width: 400px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.input-colors-container {
  display: inline-block;
}

.edit-sketchpicker {
  float: right;
  display: inline-block;
}

.edit-delete-menu {
  float: right;
}

.menu-styles {
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
/* These styles override the link tag */
.edit-item-style {
  padding: 11px 16px;
  cursor: pointer;
  display: block;
  font-weight: 400;
  font-size: 1rem;
  text-transform: none;
  color: black;
  opacity: 0.87;
}

.edit-item-style:hover {
  background-color: #f5f5f5;
  opacity: 1;
}
.menu-styles:hover {
  background-color: #e0e1e2;
}
