/* render hex color squares */
.color-square-container {
  display: inline-block;
  width: 20%;
}

.color-square {
  width: 100%;
  padding-top: 75%;
  display: inline-block;
}

.palette-header,
.generate-header {
  margin-top: 1rem !important;
  margin-bottom: 4rem !important;
}

.palette-container {
  position: relative !important;
  max-width: 400px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.input-colors-container {
  display: inline-block;
}

.edit-sketchpicker {
  float: right;
  display: inline-block;
}

.edit-delete-menu {
  float: right;
}

.menu-styles {
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.menu-styles:hover {
  background-color: #E0E1E2;
}
